/* Header & meny*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans';
    color: white;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    z-index: 9;
    width: 100%;
    box-sizing: border-box;
}

.icon-container {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.icons {
    width: 2.5rem;
    margin-left: auto;
}

#titleIcon {
    width: 8rem;
    height: auto;
}

.listaHeader {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: auto;
    margin-right: 2rem;
}

.listaItems a {
    font-size: 150%;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.5rem 1rem;
}

.listaHeader a:link {
    text-decoration: none;
} 

.listaHeader a:hover {
    text-decoration: underline;
}

#menuIcon {
    display: none;
}
/*---------------------------------------------------*/
/* Member Description Container; bild och information om dig */

.memberDescriptionContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem;
    padding-top: 6rem;
    max-width: 1200px; /* Begränsar elementet till 1200px width. Gör det "snyggare" på bredare skärmar, men cancellas ut av vår media query vid behov. */
    margin: 0 auto;
}

.memberImageWrapper{
    margin-right: 2rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
}

.memberImage{
    position: relative;
}


.memberImg{
    max-width: 100%;
    height: auto;
    display: block;
}

.memberDescriptionWrapper{
    flex: 1;
    min-width: 300px;
}

.memberDescription{
    display: flex;
    flex-direction: column;
}

#memberName{
    color: #556B2F;
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

#memberAlias{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    
}

#memberRole{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #CD853F;
}

#memberDesc{
    font-size: 1rem;
    line-height: 1.5;
}

#myPortfolio {
    color: #6B8E23;
}

#myProjectsTitleHeading {
    color: #BDB76B;
}

#myProjectsTitleHeading, #myPortfolio, #portDescr {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.slide-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.photos {
    display: none;
}

.photos img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.textDescr {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 3.5rem;
    width: 100%;
    background-color: black; 
    opacity: 50%;
    text-align: center;
}

.slideNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/*---------------------------------------------------*/

/* Footer */
#footerPart {
    background: linear-gradient(to top, #2a3329, black 100%);
    padding: 1rem;
    height: 10rem;
    display: flex;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerButtonUL {
    display: flex;
    list-style: none;
    padding: 2rem;
    margin: 1rem 2rem;
}

.footerItem {
    display: inline-block;
    margin: 0.5rem 1.5rem;
    width: 100px;
}

#footerPart a:link, #footerPart a:visited {
    color: white;
    text-decoration: none;
}

#footerPart a:hover {
    text-decoration: underline;
}

#footerText {
    position: static;
    margin-bottom: 1rem;
    font-size: 12px;
    width: 410px;
}

#footPic {
    width: 5rem;
    float: right;
}
/*---------------------------------------------------*/

/* Media query för klienter under 800px width på viewport*/
@media only screen and (max-width: 800px) {
   
   /*header & Meny*/
    #headerContainer {
        position: relative;
    }

    .listaHeader {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        padding: 1rem;
    }

    #menuIcon {
        display: block;
        width: 3rem;
        margin-left: auto;
        margin-top: -0.25rem;
    }

    #menuToggle {
        cursor: pointer;
        margin-left: auto;
        z-index: 11;
    }
    
    .listaHeader {
        display: none;
        flex-direction: column;
        list-style: none;
        gap: 12px;
        position: absolute;
        right: -12px;
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;
        z-index: 10;
        width: auto;
    } 
     
    .show-menu .listaHeader {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    #titleIcon {
        width: 10rem;
    }
    /*------------------------------------------------------*/

    /* Member Description Container; Bild och information om dig */

    .memberDescriptionContainer{
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .memberImageWrapper{
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .memberDescriptionWrapper{
        width: 100%;
    }

    #memberName{
        font-size: 2rem;
    }

    #memberAlias{
        font-size: 1.3rem;
    }

    #memberRole{
        font-size: 1.1rem;
    }

    .slide-container {
        max-width: 400px;
    }

    /*------------------------------------------------------*/

    /* Footer */
    .footerButtonUL {
        flex-wrap: wrap;
    }

    #footPic {
        display: none;
    }
}